.gallery {
  position: relative;
  width: 100%;
  max-width: 800px; /* Максимальная ширина галереи */
  margin: 0 auto;
  overflow: hidden;
}

.gallery-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-image {
  width: 100%;
  flex-shrink: 0;
  display: none;
}

.gallery-image.active {
  display: block;
}

.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.gallery-button.prev {
  left: 10px;
}

.gallery-button.next {
  right: 10px;
}